{% extends "bootstrap/base.html" %}
{% block html_attribs %} lang="en"{% endblock html_attribs%}
{% block metas %}
<meta charset="utf-8">
{%- endblock metas %}
{% block title %}Secret Service{% endblock title %}
{% block navbar %}
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Secret Service</a>
</nav>
{% endblock navbar %}
{% block content %}<div class="container">
{% block app_content %}
{% endblock app_content %}
</div>
{{super()}}
{% block footer %}
{% endblock footer %}
<div class="footer navbar-fixed-bottom text-center">
    <p class="text-muted credit">Created by <a href="https://github.com/silyashevich/secret_service">Sergey Ilyashevich</a></p>
</div>
{% endblock content %}
