{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
{% if secret.secret is defined %}
<div class="row">
    <div class="alert alert-success" role="alert">
        This information will not be viewable again, be sure to save it now!
    </div>
</div>
<div class="row">
    <div class="form-group "><label class="control-label" for="secret">Information</label>
        <textarea class="form-control" id="secret" name="secret" readonly>{{ secret.secret }}</textarea>
    </div>
</div>
{% else %}
<div class="row">
    <div class="alert alert-danger" role="alert">
        Wrong link!
    </div>
</div>
{% endif %}
{% endblock %}