{% extends "base.html" %}
{% block head %}{% endblock %}
{% block title %}set_secret{% endblock %}
{% block body %}
{% if token %}
<label>One-time link</label>
<input class="u-full-width" type="text" value="{{ host_url }}get_secret?token={{ token }}" id="myInput">
<div class="alert alert-success">Remember that information can only be downloaded once. Do not open the link yourself.</div>
{% else %}
<form action="" method="post" name="set_secret">
{{ form.csrf_token() }}
<label>{{ form.secret.label }}</label>
{{ form.secret (class="u-full-width", placeholder="Information to be stored in service...")}}
{{ form.submit (class="button")}}
</form>
{% endif %}
{% endblock %}